run = "bash setup_rojo.sh"
modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "bash setup_rojo.sh"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Rojo Server"

[[workflows.workflow]]
name = "Rojo Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash setup_rojo.sh"
waitForPort = 34872
